.heading {
    text-align: center;
}
.card {
    background-image:url("https://img.freepik.com/free-photo/landscape-tropical-vacation-palm-summer_1203-5352.jpg?size=626&ext=jpg&ga=GA1.2.1184908071.1666182053&semt=sph");
    height: 100vh;
    background-size:cover;
}

.button {
    color:white;
    border-radius: 0px;
    background-color: blue;
    
}
.cam {
    background-color: red;
    height:80px;
    padding: 20px;
    font-family: Roboto;
}